image: gabrieletassoni/vscode-devcontainers-thecore:3
variables:
  GITLAB_EMAIL: gabrieletassoni@alchemic.it
  GITLAB_USER_NAME: AlchemicIT
  GITLAB_GEM_REPO_TARGET: https://${GEM_HOST}/
  GEM_HOST_API_KEY: ${GEMS_REPO_CREDENTIALS}
stages:
  - build
  - release
build_gem:
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - when: always
  stage: build
  script:
    - /usr/bin/gem-compile.sh
